<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AWSAccessKeyId" value="AKIAWSFRDUNBNK6NTBGH" />
		<add key="AWSSecretAccessKey" value="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" />
		<add key="AWSRegion" value="us-east-1" />
		<add key="QueueName" value="QueuePostBoleto" />
		<add key="QueueNamePut" value="QueuePutBoleto" />
	</appSettings>
</configuration>